
li {
    padding-top: 20px;
    
}
.card-image {
    width: 70px;
    display: flex;
    justify-content: center;

}
.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}